.middlect {
  width: 100%;
  background-color: #e3e4e5;
}
.ctInit {
  width: 1190px;
  background-color: #e3e4e5;
}
.p {
  margin: 0;
  padding: 0;
}
.dw {
  position: relative;
}
.middlebox .middlect-sm {
  width: 1190px;
  margin: 0 auto;
}
.middlebox .middlect-sm .middlect-c-1 .title {
  width: 1190px;
  height: 35px;
  margin: 0 auto;
  padding: 0 0 20px;
  text-align: center;
  background: url();
}
.middlebox .middlect-sm .middlect-c-1 .middle-c-ul {
  margin-left: -40px;
}
.middlebox .middlect-sm .middlect-c-1 .middle-c-ul .middle-content {
  float: left;
  margin: 20px 20px 0 0;
  width: 390px;
  height: 170px;
  overflow: hidden;
}
.middlebox .middlect-sm .middlect-c-1 .middle-c-ul .middle-content .left {
  width: 140px;
  height: 170px;
  background: #66B687;
  position: absolute;
}
.middlebox .middlect-sm .middlect-c-1 .middle-c-ul .middle-content .left .info {
  width: 100px;
  background: #66B687;
  margin: 0 auto;
}
.middlebox .middlect-sm .middlect-c-1 .middle-c-ul .middle-content .left .info h4 {
  text-align: center;
}
.middlebox .middlect-sm .middlect-c-1 .middle-c-ul .middle-content .left .info p {
  overflow: hidden;
  height: 40px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  font-family: fzzhengheis-el-gbregular;
  font-weight: 400;
}
.middlebox .middlect-sm .middlect-c-1 .middle-c-ul .middle-content .right {
  width: 400px;
  height: 170px;
}
.middlebox .middlect-sm .middlect-c-1 .middle-c-ul .middle-content .right img {
  display: block;
  width: 400px;
  height: 170px;
  transition: width 0.4s ease-in-out;
}
.middlebox .middlect-sm .middlect-c-1 .middle-c-ul .middle-content .right img:hover {
  width: 390px;
}
.middlect-bg-content {
  width: 100%;
  height: 100px;
  background: #e0e0e0;
  padding: 20px 0;
}
.middlect-bg-content ul {
  width: 1190px;
  margin: 0 auto;
}
.middlect-bg-content ul li {
  float: left;
  width: 396px;
  height: 100px;
  transition: all .5s;
}
.middlect-bg-content ul li img {
  width: 396px;
  height: 100px;
}
.middlect-bg-content ul li:hover {
  opacity: .7;
}
#ct-2-middle-first {
  overflow: visible;
}
.Carousel {
  position: relative;
  overflow: visible;
}
.Carousel .carousel {
  width: 400px;
  height: 360px;
  z-index: 4;
}
.Carousel .carousel .ct-img {
  width: 400px;
  height: 360px;
}
.Carousel .carousel .ct-img li {
  width: 400px;
  height: 360px;
}
.Carousel .carousel .ct-img img {
  width: 100%;
  height: 100%;
}
.Carousel .carousel a {
  z-index: 4;
}
.Carousel #btn-next {
  left: 360px;
}
.Carousel .bullet {
  z-index: 4;
}
